html{
    font-family: Ubuntu;
}
/* Define scrollbar styles */
/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the vertical scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #ff0000; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #490101; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Color of the scrollbar handle on hover */
}
